.header {
  width: 100%;
  font-weight: bold;
  color: #3a472d;
  margin: auto;
  margin-bottom: 15px;
  // background:  #a2d16c;
  background-image: linear-gradient(#b2e47e, #8ec054);
  // background-image: linear-gradient(#b2e47e 0%, #7cb145 80%,#619229 100%);
}