html, body, header, main, footer, nav,
section, article, aside, div, p, span,
h1, h2, h3, h4, h5,
ul, li, img, button, i, a,
form, label, input, textarea, time {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
select, option,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
i,
a,
input[type="submit"] {
  cursor: pointer; }

textarea {
  resize: none; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: #b8d795; }

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.App-header {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 30px;
  text-align: center; }

.homepage {
  min-width: 800px;
  width: 100%;
  margin: auto; }

.enter-game, .game-over, .lobby {
  width: 250px;
  margin: 20px auto;
  font-size: 18px;
  background: #839781;
  padding: 10px 20px;
  box-shadow: #6a8f3f;
  border-radius: 3px; }
  .enter-game form, .game-over form, .lobby form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0 10px 0; }
  .enter-game input, .enter-game button, .game-over input, .game-over button, .lobby input, .lobby button {
    margin: 10px 0;
    background: white;
    padding: 10px 5px;
    box-sizing: border-box; }
  .enter-game input[type="submit"], .enter-game button, .game-over input[type="submit"], .game-over button, .lobby input[type="submit"], .lobby button {
    background: #8ec054;
    text-align: center;
    border: 1px solid #6a8f3f;
    width: 100%;
    border-radius: 3px; }
    .enter-game input[type="submit"]:hover, .enter-game button:hover, .game-over input[type="submit"]:hover, .game-over button:hover, .lobby input[type="submit"]:hover, .lobby button:hover {
      background: #aed381; }
  .enter-game .gray, .game-over .gray, .lobby .gray {
    background: #b37856;
    border-color: #915939; }
    .enter-game .gray:hover, .game-over .gray:hover, .lobby .gray:hover {
      background: #dba789; }

.enter-game {
  text-align: center; }
  .enter-game form {
    border-bottom: 0.5px solid black;
    position: relative; }
  .enter-game button {
    margin-top: 15px; }
  .enter-game span {
    position: absolute;
    font-size: 16px;
    background: #839781;
    margin: auto;
    padding: 0 10px;
    bottom: -.5em;
    left: 50%;
    transform: translate(-50%, 0); }

.lobby, .game-over {
  width: 250px; }

.lobby ul li {
  background: #afe66c;
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 50px; }

.lobby i {
  color: #54722f; }

canvas {
  background: #80af49;
  overflow: hidden;
  cursor: crosshair;
  position: absolute; }

.hidden {
  display: none; }

.header {
  width: 100%;
  font-weight: bold;
  color: #3a472d;
  background-image: linear-gradient(#b2e47e, #8ec054);
  box-sizing: border-box;
  border-bottom: 2px solid #5b773e;
  margin: 0 0 15px 0; }

.nav-bar {
  position: relative;
  bottom: -2px; }
  .nav-bar ul {
    display: flex;
    justify-content: center;
    width: 100%; }
  .nav-bar .nav-links {
    text-align: center;
    display: block;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0 5px 0;
    background: #9ccf61;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #3a472d;
    border: 2px solid #575757; }
    .nav-bar .nav-links:hover {
      background: #b8d795; }

.nav-bar .selected {
  background: #b8d795;
  border-bottom: 2px solid #b8d795; }

.about {
  margin-top: 15px; }

.leaderboard {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px; }
  .leaderboard h1 {
    font-size: 36px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 2px #000; }
  .leaderboard tr {
    box-sizing: border-box;
    border: 1px solid black;
    vertical-align: text-bottom; }
  .leaderboard td {
    padding: 8px;
    padding-left: 12px;
    font-size: 16px;
    text-align: center; }
  .leaderboard .container {
    display: flex;
    justify-content: center; }
  .leaderboard .table {
    background-color: rgba(41, 49, 33, 0.95);
    border: 1px solid #000;
    border-collapse: collapse;
    border-radius: 0;
    color: #fff;
    margin: auto;
    margin-top: 8px;
    text-align: left;
    width: 70%;
    max-width: 800px; }
  .leaderboard .leaderboard-header {
    display: flex;
    justify-content: center;
    align-content: center; }
  .leaderboard .leaderboard-title {
    background-color: #465c33;
    font-weight: 700; }
  .leaderboard .player-column {
    text-align: left; }
  .leaderboard .player-name {
    color: #7cfc00; }
  .leaderboard .column-rank {
    width: 15%; }
  .leaderboard .column-stat {
    width: 20%; }
