html, body, header, main, footer, nav,
section, article, aside, div, p, span,
h1, h2, h3, h4, h5,
ul, li, img, button, i, a,
form, label, input, textarea, time {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
select, option,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
i,
a,
input[type="submit"] {
  cursor: pointer; }

textarea {
  resize: none; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: #b8d795; }

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: realtive; }

.App-header {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 30px;
  text-align: center; }

.hompage {
  min-width: 800px; }

.enter-game, .game-over, .lobby {
  background: #63676377;
  padding: 10px 20px;
  margin: 20px;
  box-shadow: #6a8f3f;
  border-radius: 3px; }
  .enter-game form, .game-over form, .lobby form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    padding: 10px 0; }
  .enter-game input, .enter-game button, .game-over input, .game-over button, .lobby input, .lobby button {
    font-size: 20px;
    margin: 10px 0;
    background: white;
    padding: 10px 5px;
    box-sizing: border-box; }
  .enter-game input[type="submit"], .enter-game button, .game-over input[type="submit"], .game-over button, .lobby input[type="submit"], .lobby button {
    background: #8cbf51;
    text-align: center;
    border: 1px solid #6a8f3f;
    width: 100%; }
    .enter-game input[type="submit"]:hover, .enter-game button:hover, .game-over input[type="submit"]:hover, .game-over button:hover, .lobby input[type="submit"]:hover, .lobby button:hover {
      background: #96bf63; }

.lobby, .game-over {
  width: 250px; }

.lobby ul li {
  background: #afe66c;
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 50px; }

.lobby i {
  color: #54722f; }

canvas {
  background: #80af49;
  overflow: hidden;
  cursor: crosshair;
  position: absolute; }

.hidden {
  display: none; }

.header {
  width: 100%;
  font-weight: bold;
  color: #3a472d;
  margin: auto;
  margin-bottom: 15px;
  background-image: linear-gradient(#b8d795 0%, #8dbd57 80%, #6c9939 100%); }

.nav-bar ul {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #5b773e;
  box-sizing: border-box; }

.nav-bar .nav-links {
  position: relative;
  bottom: -2px;
  text-align: center;
  display: block;
  margin: 0 10px;
  width: 150px;
  padding: 10px 0 5px 0;
  background: #9ccf61;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #3a472d;
  border: 2px solid #575757; }
  .nav-bar .nav-links:hover {
    background: #b8d795; }

.nav-bar .selected {
  background: #b8d795;
  border-bottom: 2px solid #b8d795; }

.about {
  margin-top: 15px; }
